/* 
font-family: 'IBM Plex Serif', serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

.login {
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/assets/background-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.div-login {
    width: 350px;
    background: rgba(0, 0, 0, 0.542);
    padding: 2%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login {
    text-align: center;
    margin: 10% 0% !important;
    font-family: 'IBM Plex Serif', serif !important;
    color: white;
}

.input-login > .MuiInputBase-formControl {
    width: 100%;
    border-radius: 25px;
    margin: 4% 0%;
    font-family: 'Poppins' !important;
    background: white;
}

#c-button > .MuiButtonBase-root {
    width: 100%;
    margin: 10% 0% !important;
    border-radius: 15px !important;
    background: #353535;
    transition: all 0.5s;
    border: solid #353535 2px;
}

#c-button > .MuiButtonBase-root:hover {
    background: transparent;
    border: solid #353535 2px;
}

.text-alert {
    color: red;
    width: 100%;
    text-align: center;
}